html body{
  font-family: 'Lato', sans-serif;
  color: #f7f4ef;
}
.navbar{
  z-index: 100;
  background-color: rgba(25,25,25,0);
}
.navbar-nav a{
  color: #f7f4ef;
}
.material-icons {
  color: #f7f4ef;
}
.navbar-brand{
    font-family: 'Sacramento', cursive;
    font-size: 40px;
    /* color: #f7f4ef; */
}
.sub-text{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}
.flag{
  height: 18px;
  border-radius: 60%;
}

html body{
  background-image: url("../img/stage-old.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
}
.landing_image{
  height: 600px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.landing_text{
  font-family: 'Sacramento', cursive;
  font-size: 60px;
}
.panel_title{
  font-family: 'Sacramento', cursive;
}
#sect-1{
  /* background-color: #309292; */
  background-color: #191919;
}
#sect-2{
  background-color: #191919;
}
#sect-3{
  background-color: #191919;
}

.production_poster{
  width: 50%;
  display: block;
  margin: 40px auto;
}

.filler_image_1{
  background-image: url("../img/lights.jpg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.filler_image_2{
  background-image: url("../img/seats.jpg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
